/* Primary and Surface Palettes */
:root {
  /* Primary Color: Selenium */
  --p-primary-50: #f2f7f9;
  --p-primary-100: #dee9ef;
  --p-primary-200: #c1d6e0;
  --p-primary-300: #96b8ca;
  --p-primary-400: #6492ac;
  --p-primary-500: #436d87;
  --p-primary-600: #3f627b;
  --p-primary-700: #385166;
  --p-primary-800: #344656;
  --p-primary-900: #2f3d4a;
  --p-primary-950: #1b2631;

  /* Surface Color: Mercury */
  --p-surface-0: #ffffff;
  --p-surface-50: #f6f7f8;
  --p-surface-100: #e9ebee;
  --p-surface-200: #cfd3da;
  --p-surface-300: #b7bdc9;
  --p-surface-400: #a2a9b8;
  --p-surface-500: #868ea0;
  --p-surface-600: #5e6373;
  --p-surface-700: #40434d;
  --p-surface-800: #2e2f37;
  --p-surface-900: #222327;
  --p-surface-950: #101010;
  --p-content-border-radius: 6px;
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
 * Dark Mode
 * Defaults to system, change the selector to match the darkMode in tailwind.config.
 * For example; 
 * darkMode: ['selector', '[class*="app-dark"]'] 
 * should be;
 * :root[class="app-dark"] {
*/
/*
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-0);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-0);
        --p-text-hover-color: var(--p-surface-0);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
}
*/
