/* Primary and mercury Palettes */
:root {
  --p-content-border-radius: 6px;
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-mercury-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-mercury-200);
  --p-content-hover-background: var(--p-mercury-100);
  --p-content-hover-color: var(--p-mercury-800);
  --p-highlight-background: var(--p-primary-100);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-mercury-700);
  --p-text-hover-color: var(--p-mercury-800);
  --p-text-muted-color: var(--p-mercury-500);
  --p-text-hover-muted-color: var(--p-mercury-600);
}

/* 
 * Dark Mode
 * Defaults to system, change the selector to match the darkMode in tailwind.config.
 * For example; 
 * darkMode: ['selector', '[class*="app-dark"]'] 
 * should be;
 * :root[class="app-dark"] {
*/
/*
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-mercury-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-mercury-700);
        --p-content-hover-background: var(--p-mercury-800);
        --p-content-hover-color: var(--p-mercury-0);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-mercury-0);
        --p-text-hover-color: var(--p-mercury-0);
        --p-text-muted-color: var(--p-mercury-400);
        --p-text-hover-muted-color: var(--p-mercury-300);
    }
}
*/

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    /* background: var(--p-primary-50); */
  }

  ::-webkit-scrollbar-thumb {
    background: var(--p-mercury-100);
    border-radius: 100vh;
    border: 2px solid var(--p-mercury-0);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--p-mercury-300);
  }
}
